<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Internet app</title>
</head>
<body>
  <div>
    <p>Internet app is live!</p>
    <form method="POST">
      Enter current location: <input type="text" name="location"> <br>
      Enter your network: <input type="text" name="network"> <br>
      What are you using it for? <input type="text" name="network-use"> <br>
      Rating <input type="text" name="rating"> <br>
      <input type="submit" value="Submit Data">
    </form>
  </div>
</body>
</html>
